<!DOCTYPE html>
<html lang="pt-BR">
  <head th:replace="~{base :: titulo('Livreto')}"> </head>

  <body>
    <header th:replace="~{base :: header}"></header>

    <main>
      <!-- Grid com todos os livros -->

      <div class="container-xl">
        <h5 class="mb-4 color-purple">
          Resultados da busca para "<span
            class="fw-bold"
            th:text="${nomeBusca}"
          ></span
          >"
        </h5>

        <div class="row row-cols-2 row-cols-sm-3 row-cols-md-4 g-3">
          <div class="col" th:each="livro : ${livrosBuscados}">
            <div class="card shadow-sm">
              <img
                class="bd-placeholder-img card-img-top fit-img"
                th:src="${livro.capa}"
                width="50%"
                height="225"
              />

              <div class="card-body">
                <h5 class="card-title fs-6">
                  <a href="#" th:text="${livro.titulo}"></a>
                </h5>
                <h7 class="card-subtitle mb-2 text-muted fs-6"
                  ><span th:text="${livro.autor.nome}"></span
                ></h7>
                <p class="card-text fs-4">
                  <span
                    th:text="${'R$ ' + #numbers.formatDecimal(livro.preco, 2, 'POINT', 2, 'COMMA')}"
                  ></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
