<!DOCTYPE html>
<html lang="pt-BR">
  <head th:replace="~{base :: titulo('Livreto')}"> </head>

  <body>
    <header th:replace="~{base :: header}"></header>

    <main>
      <!-- Grid com todos os livros -->

      <div class="container-xl">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div
              class="card"
              style="width: 16rem"
              th:each="livro : ${livrosBuscados}"
            >
              <img
                th:src="${livro.capa}"
                class="card-img-top"
                width="100"
                height="300"
                alt="imagem do livro"
              />
              <div class="card-body">
                <h5 class="card-title">
                  <a href="#" th:text="${livro.titulo}"></a>
                </h5>
                <h7 class="card-subtitle mb-2 text-muted"
                  ><span th:text="${livro.autor.nome}"></span
                ></h7>
                <p class="card-text">
                  <span
                    th:text="${'R$ ' + #numbers.formatDecimal(livro.preco, 2, 'POINT', 2, 'COMMA')}"
                  ></span>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
