<!DOCTYPE html>
<html lang="pt-BR">
  <head th:replace="~{baseAdmin :: titulo('Cadastro de autor')}"> </head>

  <body>
    <header th:replace="~{baseAdmin :: header}"></header>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ms-3 me-3"
      >
        <div class="ms-3 me-3">
          <h5>Cadastrar novo autor</h5>
        </div>
      </div>
      <form
        class="row g-3 ms-3 me-3"
        th:object="${requisicaoNovoAutor}"
        action="/cadastroAutor"
        method="POST"
      >
        <div class="col-md-12">
          <label for="nome" class="form-label">Nome</label>
          <input
            th:field="*{nome}"
            th:errorclass="is-invalid"
            type="text"
            class="form-control"
          />
          <div class="invalid-feedback" th:errors="*{nome}"></div>
        </div>
        <div class="col-md-12">
          <label for="resumo" class="form-label">Resumo</label>
          <textarea
            th:field="*{resumo}"
            th:errorclass="is-invalid"
            class="form-control"
            style="height: 150px"
          ></textarea>
          <div class="invalid-feedback" th:errors="*{resumo}"></div>
        </div>
        <div class="col-md-12">
          <label for="linkFoto" class="form-label">URL/Link da Foto</label>
          <input
            th:field="*{linkFoto}"
            th:errorclass="is-invalid"
            type="url"
            class="form-control"
          />
          <div class="invalid-feedback" th:errors="*{linkFoto}"></div>
        </div>
        <div class="col-6 d-grid gap-2 mx-auto mb-3">
          <button class="btn btn-outline-success mb-1" type="submit">
            Salvar
          </button>
        </div>
      </form>
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
