<!DOCTYPE html>
<html lang="pt-BR">
  <head th:replace="~{baseAdmin :: titulo('Categorias')}"></head>

  <body>
    <header th:replace="~{baseAdmin :: header}"></header>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ms-3 me-3"
      >
        <h2>Categorias</h2>
      </div>

      <div class="ms-3 me-3">
        <h5>Adicionar nova categoria</h5>
        <form
          th:object="${requisicaoNovaCategoria}"
          class="mb-3"
          th:action="@{/categorias}"
          method="POST"
        >
          <input
            th:field="*{nome}"
            class="form-control me-2 d-inline-block mt-2"
            th:errorclass="is-invalid"
            style="width: 300px"
            type="text"
            placeholder="Nome da categoria"
          />
          <button class="btn btn-outline-success mb-1" type="submit">
            Salvar
          </button>
          <div class="invalid-feedback" th:errors="*{nome}"></div>
        </form>

        <div class="table-responsive" style="width: 400px">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th style="width: 100px">#id</th>
                <th style="width: 230px">Nome</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="categoria : ${categorias}">
                <td><span th:text="${categoria.id}"></span></td>
                <td><span th:text="${categoria.nome}"></span></td>
                <td>
                  <a
                    class="btn btn-outline-danger mb-1"
                    th:href="@{categorias/excluir/{categoriaId}(categoriaId=${categoria.id})}"
                  >
                    Excluir
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
