<!DOCTYPE html>
<html lang="pt-BR">
  <head th:replace="~{base :: titulo('Cadastre-se - Livreto')}"></head>

  <body>
    <header th:insert="~{base :: navbarForms}"></header>

    <div class="container-xl mx-auto">
      <div class="text-center mb-5">
        <img
          class="mb-2"
          src="images/livreto_book.png"
          width="75"
          height="42"
        />

        <h4>Crie sua conta</h4>
        <medium>E faça a sua primeira compra</medium>
      </div>

      <form
        class="row g-3 w-50 mx-auto"
        th:object="${requisicaoNovoCliente}"
        action="/criarConta"
        method="POST"
      >
        <div class="col-md-6">
          <label for="nome" class="form-label">Nome</label>
          <input
            th:field="*{nome}"
            th:errorclass="is-invalid"
            type="text"
            class="form-control"
          />
          <div class="invalid-feedback" th:errors="*{nome}"></div>
        </div>
        <div class="col-md-6">
          <label for="sobrenome" class="form-label">Sobrenome</label>
          <input
            th:field="*{sobrenome}"
            th:errorclass="is-invalid"
            type="text"
            class="form-control"
          />
          <div class="invalid-feedback" th:errors="*{sobrenome}"></div>
        </div>
        <div class="col-md-6">
          <label for="cpfCliente" class="form-label">CPF</label>
          <input
            th:field="*{cpfCliente}"
            th:errorclass="is-invalid"
            type="text"
            class="form-control"
            placeholder="ex: 111.111.111-11"
          />
          <div class="invalid-feedback" th:errors="*{cpfCliente}"></div>
        </div>
        <div class="col-md-6">
          <label for="dataNascimento" class="form-label"
            >Data de Nascimento</label
          >
          <input
            th:field="*{dataNascimento}"
            th:errorclass="is-invalid"
            type="text"
            class="form-control"
            placeholder="ex: dd/MM/aaaa"
          />
          <div class="invalid-feedback" th:errors="*{dataNascimento}"></div>
        </div>
        <div class="col-md-6">
          <label for="telefone" class="form-label">Telefone</label>
          <input
            th:field="*{telefone}"
            th:errorclass="is-invalid"
            type="text"
            class="form-control"
          />
          <div class="invalid-feedback" th:errors="*{telefone}"></div>
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input
            th:field="*{email}"
            th:errorclass="is-invalid"
            type="email"
            class="form-control"
          />
          <div class="invalid-feedback" th:errors="*{email}"></div>
        </div>
        <div class="col-md-6">
          <label for="senha" class="form-label">Senha</label>
          <input
            th:field="*{senha}"
            th:errorclass="is-invalid"
            type="password"
            class="form-control"
          />
          <div class="invalid-feedback" th:errors="*{senha}"></div>
        </div>
        <div class="col-12 d-grid gap-2 mx-auto mb-3">
          <button type="submit" class="btn-purple mb-1">Criar conta</button>
        </div>
      </form>
    </div>
  </body>
</html>
