<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Editoras</title>

    <link rel="stylesheet" href="css/dashboard.css" />
    <link href="css/bootstrap.min.css" rel="stylesheet" />
  </head>

  <body>
    <header id="navbar">
      <div
        class="navbar navbar-dark sticky-top bg-dark bg-light-purple flex-md-nowrap p-0 shadow"
      >
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
          <img
            src="images/livreto_logo.png"
            alt="Livreto"
            width="136"
            height="36"
            class="d-inline-block align-top"
        /></a>
        <button
          class="navbar-toggler position-absolute d-md-none collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#sidebarMenu"
          aria-controls="sidebarMenu"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <input
          class="form-control form-control-dark w-100"
          type="text"
          placeholder="Buscar"
          aria-label="Search"
        />
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="#">Sair</a>
          </li>
        </ul>
      </div>

      <div class="container-fluid">
        <div class="row">
          <nav
            id="sidebarMenu"
            class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse"
          >
            <div class="position-sticky pt-3">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">
                    <span data-feather="home"></span>
                    Dashboard
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="file"></span>
                    Livros
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="shopping-cart"></span>
                    Autores
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="users"></span>
                    Editoras
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="bar-chart-2"></span>
                    Categorias
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Vendas
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">
                    <span data-feather="layers"></span>
                    Funcionários
                  </a>
                </li>
              </ul>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom ms-3 me-3"
      >
        <h2>Editoras</h2>
      </div>

      <div class="ms-3 me-3">
        <h5>Adicionar nova editora</h5>
        <form class="mb-3">
          <input
            id="NomeEditoraInput"
            class="form-control me-2 d-inline-block mt-2"
            style="width: 300px"
            type="text"
            placeholder="Nome da editora"
          />
          <button class="btn btn-outline-success mb-1" type="submit">
            Salvar
          </button>
        </form>

        <div class="table-responsive" style="width: 400px">
          <table class="table table-striped table-sm">
            <thead>
              <tr>
                <th style="width: 100px">#id</th>
                <th style="width: 230px">Nome</th>
                <th>Opções</th>
              </tr>
            </thead>
            <tbody>
              <tr th:each="editora : ${editoras}">
                <td><span th:text="${editora.id}"></span></td>
                <td><span th:text="${editora.nome}"></span></td>
                <td>
                  <button class="btn btn-outline-danger mb-1" type="submit">
                    Excluir
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </main>

    <script src="js/bootstrap.bundle.min.js"></script>
    <script src="js/jquery.min.js"></script>
  </body>
</html>
