<!DOCTYPE html>
<html lang="pt-BR">
  <head th:replace="~{base :: titulo('Livreto')}"> </head>

  <body>
    <header th:replace="~{base :: header}"></header>

    <main>
      <!-- Grid com todos os livros -->

      <div class="container-xl d-flex">
        <div class="card me-2" style="width: 16rem">
          <img src="..." class="card-img-top" alt="imagem do livro" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>

        <div class="card me-2" style="width: 16rem">
          <img src="..." class="card-img-top" alt="imagem do livro" />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
          </div>
        </div>
      </div>
    </main>

    <footer></footer>

    <script src="/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
