<!DOCTYPE html>
<html lang="pt-BR">
  <head th:replace="~{base :: titulo('Entre em sua conta - Livreto')}"></head>

  <body>
    <header th:insert="~{base :: navbarForms}"></header>

    <main class="container-xl mx-auto">
      <div class="text-center mt-5 mb-3">
        <img
          class="mb-2"
          th:src="@{/images/livreto_book.png}"
          width="75"
          height="42"
        />

        <h4>Entre em sua conta</h4>
        <medium>E comece a comprar com os melhores preços</medium>
      </div>

      <div class="form-signin">
        <form class="row g-3 mx-auto" th:action="@{/login}" method="POST">
          <div class="col-12">
            <label for="username" class="form-label">Email</label>
            <input type="email" name="username" class="form-control" />
            <div class="invalid-feedback"></div>
          </div>

          <div class="col-12 mb-2">
            <label for="password" class="form-label">Senha</label>
            <input type="password" name="password" class="form-control" />
            <div class="invalid-feedback"></div>
          </div>

          <div class="col-12 d-grid">
            <button type="submit" class="btn-purple mb-1">
              Entrar na conta
            </button>
          </div>
        </form>
      </div>
    </main>

    <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
  </body>
</html>
